[stream]
    enabled = yes
    destination = tcp:netdata.blkjy.io
    api key = 894aa814-e672-4df1-9e8c-3bc919f1b905
    timeout seconds = 60
    default port = 19996
    send charts matching = *
    buffer size bytes = 10485760
    reconnect delay seconds = 5
    initial clock resync iterations = 60
